<html>
  <head>
    <title>Add User Options </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/adminopt.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
     <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="pull-left">
                        <ul class="nav navbar-nav">
                            <li class="active"> <a href="/"><span class="glyphicon glyphicon-home"> </span> Home</a>
                            </li>
                            <li> <a href="/admin"> <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mid">
                        <ul class="nav navbar-nav">
                             <li class="active"><a href="/adminlogin"><span class="glyphicon glyphicon-log-out"></span>Logout  </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a class="navbar-brand" href="#"> <img  src="...">   </a>
                            </li>
                        </ul>
                </div>               
            </div>
        </nav>

    <div class="container-fluid">
        <h1>Add New User </h1>
             <div class="col-md-4">
                <form action='/linuxuser' method ="get" enctype="multipart/form-data">
                <button type = "submit"class="btn btn-secondary">Add Linux User   </button>
                </form>
            </div>
            <div class="col-md-4">
                <form action='/pos' method ="get" enctype="multipart/form-data">
                <button type = "submit"class="btn btn-secondary">Add User images to Repo   </button>
                </form>
            </div>
            <div class="col-md-4">
                <form action='/permissions' method ="get" enctype="multipart/form-data">
                <button type = "submit"class="btn btn-secondary">Add/Change user Premissions  </button>
                </form>
            </div>
    </div>
  </body>
</html>